In [1]:
import pandas as pd

dataset = pd.read_csv('general_data.csv')
dataset.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [2]:
dataset.Attrition = dataset.Attrition.replace("Yes", 1)
dataset.Attrition = dataset.Attrition.replace("No", 0)
dataset.head()

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
1   31          1  ...                       1                    4
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4

[5 rows x 24 columns]

In [3]:
dataset = dataset.drop_duplicates()
dataset = dataset.dropna()

In [4]:
dataset_Att_yes = dataset[dataset.Attrition == 1]
dataset_Att_no = dataset[dataset.Attrition == 0]

print(dataset_Att_yes.head())
print(dataset_Att_no.head())

    Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
1    31          1  ...                       1                    4
6    28          1  ...                       0                    0
13   47          1  ...                       9                    9
28   44          1  ...                       0                    0
30   26          1  ...                       0                    2

[5 rows x 24 columns]
   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4
5   46          0  ...                       7                    7

[5 rows x 24 columns]

In [5]:
from scipy.stats import pearsonr

stats, p = pearsonr(dataset.Attrition, dataset.MonthlyIncome)
print("Correlation of Attrition and Distance From Home:")
print("stats: ",stats, "p: ", p)

# So there is correlation betweeen Attrition and distance from Home

Correlation of Attrition and Distance From Home:
stats:  -0.030160293808460668 p:  0.045890862744719166

In [6]:
from scipy.stats import mannwhitneyu

stats, p = mannwhitneyu(dataset_Att_yes.YearsAtCompany, dataset_Att_no.YearsAtCompany)
print("Mann-Whitney of TotalWorkingYears and YearsAtCompany:")
print("stats: ",stats, "p: ", p)

# Thus there is significant difference in theYears at comany Between Attrition and no Attrition

Mann-Whitney of TotalWorkingYears and YearsAtCompany:
stats:  912579.0 p:  3.3433144809752036e-36

In [7]:
from scipy.stats import kruskal

stats, p = kruskal(dataset[dataset["BusinessTravel"] == "Travel_Rarely"].MonthlyIncome, 
                   dataset[dataset["BusinessTravel"] == "Travel_Frequently"].MonthlyIncome, 
                   dataset[dataset["BusinessTravel"] == "Non-Travel"].MonthlyIncome)
print("Kruskal-Wallis of Monthly Income for those who travel frequently, rarely and not at all:")
print("stats: ",stats, "p: ", p)

Kruskal-Wallis of Monthly Income for those who travel frequently, rarely and not at all:
stats:  21.51316624477811 p:  2.1304694246114354e-05

In [8]:
from scipy.stats import chi2_contingency

chitable = pd.crosstab(dataset['Attrition'], dataset['MaritalStatus'])

stats, p, df ,expected = chi2_contingency(chitable)

print("Chi-square test for Attrition and Maritial Status:")
print(stats, p)

Chi-square test for Attrition and Maritial Status:
133.85785802925156 8.573051828219379e-30

In [9]:
# H0 : population mean of monthly salary >= 50000
# H1 : population mean of monthly salary < 50000

from scipy.stats import ttest_1samp
stats, p = ttest_1samp(dataset.MonthlyIncome, 50000)

print("1 sample t-test :")
print(stats, p)

# p < 0.05 thus H0 is Rejected 
# and population mean of monthly salary < 50000

1 sample t-test :
21.149465123368053 1.2933017178567965e-94

In [10]:
# H0 : No significant differnce in mean salary of attrition yes and no
# H1 : There is a significant difference

from scipy.stats import ttest_ind
stats, p = ttest_ind(dataset_Att_yes.MonthlyIncome, dataset_Att_no.MonthlyIncome)

print("2 sample seprate t-test :")
print(stats, p)

# p < 0.05 thus H0 is Rejected
# H1 : There is a significant difference in mean salary of attrition yes and no

2 sample seprate t-test :
-1.9969640177214658 0.045890862744972095